<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <h1>my learning log</h1>
</header>
<nav class="navbar">
    <ul class="nav-item">
       <a class="nav-link" href="/">Home</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="/form">Add Entry</a>
    </ul>
    <ul class="nav-item">Q
        <a class="nav-link" href="/about">About</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </ul>
</nav>
<footer class="footer">
<address class="address">
        91423 anonymous
        &COPY;opyright mscloud.dev29
        developer profile:<a target="_parent" href="/https://github.com/aheisleycook">austin</a>
    </address>
</footer>
</body>
</html>
